<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>桥梁长期健康监测及智能分析系统</title>
        <link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
        <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
        <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    </head>
    <body class="cm-no-transition cm-1-navbar">

        <div id="cm-menu" th:include="base/menu::menu (active,two_1,two_2,three_1,three_2,three_3,four_1,four_2,four_3,four_4,five_1,five_2,six_1,six_2,six_3,seven_1,seven_2,seven_3,seven_4,eight_1,eight_2,eight_3)"></div>
        <div th:replace="base/header::header"></div>

        <div id="global">
            <div style="">
                <div class="container-fluid cm-container-white">
                    <h2 style="margin-top:0;">欢迎使用桥梁健康监测及分析系统 !</h2>
                </div>
                <div class="container-fluid">
                    <div class="row cm-fix-height">
                        <div class="col-sm-4">
                            <a href="/bridge" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/dashboard-alt.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">桥梁管理</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/query-data" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/database.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">监控数据</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="overweight-analysis" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/funnel.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">数据分析</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/user-manager" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/profile-group.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">用户管理</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/log_system.html" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/file-text.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">日志管理</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/watchpoint_para.html" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/cogs.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">系统管理</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/module_upload.html" class="panel panel-default thumbnail cm-thumbnail">
                                <div class="panel-body" style="text-align:center;">
                                    <img src="assets/img/sf/wrench.svg" alt="Components" class="img-responsive" style="margin: auto;width: 60%;">
                                    <br>
                                    <h3 style="font-weight:bold; margin-top:-15px;">模型管理</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="base/footer::footer"></div>
        </div>
        <script src="assets/js/lib/jquery-2.1.3.min.js"></script>
        <script src="assets/js/jquery.mousewheel.min.js"></script>
        <script src="assets/js/jquery.cookie.min.js"></script>
        <script src="assets/js/fastclick.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/clearmin.min.js"></script>
        <script src="assets/js/demo/home.js"></script>
    </body>
</html>