<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <!-- 下拉菜单 -->
    <link rel="stylesheet" type="text/css" href="ext/bootstrap-select-1.12.4/css/bootstrap-select.min.css">
    <!-- 支持同步和异步分页 -->
    <link href="assets/css/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <!-- 滚动条 -->
    <link rel="stylesheet" type="text/css" href="ext/mCustomScrollbar-3.0.9/css/jquery.mCustomScrollbar.css">
    <!-- 时间选择器 -->
    <link rel="stylesheet" href="ext/jquery-ui-1.12.1/css/jquery-ui.min.css">
    <link rel="stylesheet" href="ext/jQuery-Timepicker-Addon-1.6.3/css/jquery-ui-timepicker-addon.min.css">
    <!-- 对话框 -->
    <link rel="stylesheet" type="text/css" href="ext/artDialog-6.0.4/css/ui-dialog.css">
    <link rel="stylesheet" type="text/css" href="ext/artDialog-6.0.4/css/custom.css">
    <!-- 文件上传插件 -->
    <link rel="stylesheet" type="text/css" href="ext/bootstrap-fileinput-4.4.8/css/fileinput.min.css">
    <title>桥梁信息管理系统</title>
    <link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}"/>
</head>
<body class="cm-no-transition cm-1-navbar">
<div id="cm-menu" th:include="base/menu::menu (one,two_1,two_2,three_1,three_2,four_1,four_2,four_3,active,five_1,five_2,six_1,six_2,six_3,seven_1,seven_2,seven_3,seven_4)"></div>
<div th:replace="base/header::header"></div>
<div id="global">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    可靠度分析
                </h3>
            </div>
            <div class="panel-body" style="padding:0 20px 20px 20px">
                <h4 class="control-label " style="display:inline-block">从本地上传分析数据（csv格式，小于50MB）：</h4>
                <button id="reliability_file_dataformat" title="数据格式" data-html="true" data-toggle="popover" data-container="body" type="button" class="btn btn-default"><i class="fa fa-fw fa-eye"></i></button>
                <input id="reliability_file_upload" name="reliability_file_upload" type="file" class="file file-loading" data-preview-file-type="text"/>
            </div>
            <div class="panel-body" style="padding: 0 20px 20px 20px">
                <select class="selectpicker" id="reliability_file_selected" data-width="20%"></select> &nbsp;&nbsp;
                <select class="selectpicker" id="reliability_bridge" data-width="20%"></select>&nbsp;&nbsp;
                <select class="selectpicker" id="reliability_section" data-width="20%"></select>&nbsp;&nbsp;
                <select class="selectpicker" id="reliability_watchpoint" data-width="20%"></select>&nbsp;&nbsp;
            </div>
            <div class="panel-body" style="padding:0 20px 20px 20px">
                <label style="font-weight:normal;font-size:16px;margin-left: 7px">时段选择&nbsp;&nbsp;</label>
                <input size="17" type="text" id="reliability_begin_time"  class="btn btn-default" value="" readonly="readonly" >
                <span style="line-height: 30px;">&nbsp;&nbsp;<label class="form-label">至</label>&nbsp;&nbsp;</span>
                <input size="17" type="text" id="reliability_end_time" class="btn btn-default" value="" readonly="readonly">
            </div>
            <div class="panel-body" style="padding: 0 20px 20px 20px">
                <!--<div class="row">-->
                <button id="reliability_analysis_start" type="button" data-switch-color="success" class="btn btn-l btn-success" style="width:120px;height:40px;font-size:18px">可靠度分析</button>
                <label style="font-weight:normal;font-size:16px;margin-left: 50px">进度条&nbsp;&nbsp;</label>
                <progress id="reliability_analysis_process" value="0" max="100"></progress>
                <button id="result_reliability_analysis" type="button" data-switch-color="yellow" class="btn btn-l btn-yellow" style="width:150px;height:40px;font-size:18px; margin-left:350px">分析结果展示</button>
                <div align="center" id="reliability_show_result_figure" height="1000" data-width="60%" style="position:relative;margin-top:20px; height:1000px;">
                </div>
            </div>
        </div>
        <div th:include="base/footer"></div>
    </div>
</div>



<script src="assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="assets/js/jquery.mousewheel.min.js"></script>
<script src="assets/js/jquery.cookie.min.js"></script>
<script src="assets/js/fastclick.min.js"></script>
<script src="assets/js/clearmin.min.js"></script>
<script src="assets/js/demo/home.js"></script>
<!-- common.js -->
<script src="udf/js/common.js"></script>
<!-- 下拉菜单 -->
<script src="ext/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
<script src="ext/bootstrap-select-1.12.4/js/i18n/defaults-zh_CN.min.js"></script>
<!-- 对话框 -->
<script src="ext/artDialog-6.0.4/js/dialog-plus-min.js"></script>
<!-- table相关 -->
<script src="assets/js/kendo.web.min.js"></script>
<script src="udf/js/common.js"></script>
<!-- 时间选择器 -->
<script src="ext/jquery-ui-1.12.1/js/jquery-ui.min.js"></script>
<script src="ext/jQuery-Timepicker-Addon-1.6.3/js/jquery-ui-timepicker-addon.min.js"></script>
<script src="ext/jQuery-Timepicker-Addon-1.6.3/js/i18n/jquery-ui-timepicker-zh-CN.js"></script>
<script src="ext/jQuery-Timepicker-Addon-1.6.3/js/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<!--画图-->
<script src="ext/echarts/echarts.min.js"></script>
<script src="udf/js/figure.js"></script>
<!-- 滚动条 -->
<script src="ext/mCustomScrollbar-3.0.9/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- bootstrap脚本必须放在jquery-ui之后，否则某些操作会冲突 -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- 主脚本 -->
<script src="udf/js/reliability-analysis.js"></script>
<!-- 文件上传插件 -->
<script src="ext/bootstrap-fileinput-4.4.8/js/fileinput.min.js"></script>
<script src="ext/bootstrap-fileinput-4.4.8/js/locales/zh.js"></script>
</body>
</html>