<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta th:replace="base/header::metaHead"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <!-- 下拉菜单 -->
    <link rel="stylesheet" type="text/css" href="ext/bootstrap-select-1.12.4/css/bootstrap-select.min.css">
    <!-- 支持同步和异步分页 -->
    <link href="assets/css/kendo.common.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/kendo.default.min.css" rel="stylesheet" type="text/css"/>
    <!-- 对话框 -->
    <link rel="stylesheet" type="text/css" href="ext/artDialog-6.0.4/css/ui-dialog.css">
    <link rel="stylesheet" type="text/css" href="ext/artDialog-6.0.4/css/custom.css">
    <!-- 滚动条 -->
    <link rel="stylesheet" type="text/css" href="ext/mCustomScrollbar-3.0.9/css/jquery.mCustomScrollbar.css">
    <title>桥梁长期健康监测及智能分析系统</title>
    <link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}"/>
</head>
<body class="cm-no-transition cm-1-navbar">

<div id="cm-menu"
     th:include="base/menu::menu (one,two_1,two_2,three_1,three_2,three_3,four_1,four_2,active,four_4,five_1,five_2,six_1,six_2,six_3,seven_1,seven_2,seven_3,seven_4,eight_1,eight_2,eight_3)"></div>
<div th:replace="base/header::header"></div>

<div id="global">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    截面列表
                </h3>
            </div>
            <div class="panel-body">
                <select class="selectpicker" id="dropdownMenu1" th:attr="init-value=${bridge_id}"></select>
                <br><br>
                <div id="section-grid"></div>
                <div style="float:left;margin: 20px 0px 0px 0px" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="add_section" type="button" style="margin:.0em 1em 0em 0em"
                            class="btn btn-l btn-primary">
                        增加
                    </button>
                    <button id="delete_section" type="button" style="margin:0em 1em 0em 0em"
                            class="btn btn-l btn-danger">
                        删除
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="base/footer::footer"></div>
</div>
<script src="assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="assets/js/jquery.mousewheel.min.js"></script>
<script src="assets/js/jquery.cookie.min.js"></script>
<script src="assets/js/fastclick.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/clearmin.min.js"></script>
<script src="assets/js/demo/home.js"></script>
<!-- 下拉菜单 -->
<script src="ext/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
<script src="ext/bootstrap-select-1.12.4/js/i18n/defaults-zh_CN.min.js"></script>
<!-- 对话框 -->
<script src="ext/artDialog-6.0.4/js/dialog-plus-min.js"></script>
<!-- 滚动条 -->
<script src="ext/mCustomScrollbar-3.0.9/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- table相关 -->
<script src="assets/js/kendo.web.min.js"></script>
<script src="udf/js/common.js"></script>
<script src="udf/js/section.js"></script>
</body>
</html>