<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="menu (one,two_1,two_2,three_1,three_2,three_3,four_1,four_2,four_3,four_4,five_1,five_2,six_1,six_2,six_3,seven_1,seven_2,seven_3,seven_4,eight_1,eight_2,eight_3,eight_4,eight_5)"
     id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="/" class="cm-logo"></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>

    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li th:class="${one}"><a href="/" class="sf-house">主页</a></li>
                    <li class="cm-submenu" th:classappend="${two_1=='active' or two_2=='active'}? pre-open : ''">
                        <a class="sf-dashboard-alt">桥梁管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${two_1}"><a href="/bridge">桥梁信息</a></li>
                            <li th:class="${two_2}"><a href="/watch-box">控制箱信息</a></li>
                        </ul>
                    </li>

                    <li class="cm-submenu" th:classappend="${three_1=='active' or three_2=='active' or three_3=='active'}? pre-open : ''">
                        <a class="sf-database">监控数据<span class="caret"></span></a>
                        <ul>
                            <li th:class="${three_1}"><a href="/query-data">数据查询</a></li>
                            <li th:class="${three_2}"><a href="/upload-data">数据上传</a></li>
                            <li th:class="${three_3}"><a href="/log_warning">阈值报警</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu" th:classappend="${four_1=='active' or four_2=='active' or four_3=='active' or four_4=='active'}? pre-open : ''">
                        <a class="sf-funnel">数据分析<span class="caret"></span></a>
                        <ul>
                            <li th:class="${four_3}"><a href="association-analysis">关联性分析</a></li>
                            <li th:class="${four_1}"><a href="overweight-analysis">超重车识别</a></li>
                            <li th:class="${four_2}"><a href="damage-detection">损伤识别</a></li>
                            <li th:class="${four_4}"><a href="reliability-analysis">可靠度分析</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu" th:classappend="${five_1=='active' or five_2=='active'}? pre-open : ''"
                        sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="sf-profile-group">用户管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${five_1}"><a href="/user-manager">用户管理</a></li>
                            <li th:class="${five_2}"><a href="/role-manager">角色管理</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu" th:classappend="${six_2=='active' or six_3=='active' or seven_1=='active' or seven_2=='active' or seven_3=='active' or seven_4=='active'}? pre-open : ''">
                        <a class="sf-cogs">系统管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${six_2}"><a href="/log_system.html">系统操作日志</a></li>
                            <li th:class="${six_3}"><a href="/log_bridge.html">桥梁修改日志</a></li>
                            <li th:class="${seven_1}"><a href="/watchpoint_para.html">桥梁参数管理</a></li>
                            <li th:if="${CurrentUser.userName} == 'admin'"
                                th:class="${seven_3}"><a href="/bridge_type.html">桥梁类型</a></li>
                            <li th:if="${CurrentUser.userName} == 'admin'"
                                th:class="${seven_4}"><a href="/watchbox_type.html">测控箱类型</a></li>
                            <li th:if="${CurrentUser.userName} == 'admin'"
                                th:class="${seven_2}"><a href="/log_option.html">日志选项</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu" th:classappend="${eight_1=='active' or eight_2=='active' or eight_3=='active' or eight_4=='active' or eight_5=='active'}? pre-open : ''">
                        <a class="sf-wrench">模型管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${eight_1}"><a href="/module_upload.html">模型上传</a></li>
                            <li th:class="${eight_2}"><a href="/module_download.html">模型导出</a></li>
                            <li th:class="${eight_3}"><a href="/module_delete">模型删除</a></li>
                            <li th:class="${eight_4}"><a href="/module_train">模型训练</a></li>
                            <li th:class="${eight_5}"><a href="/module_predict">模型预测</a></li>

                        </ul>
                    </li>
                    <li><a th:href="@{/logout}" class="sf-lock-open">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
