<div th:fragment="menu (one,two,three_1,three_2,three_3,three_4,three_5,three_6,three_7,four_1,four_2,five_1,five_2,five_3,six_1,six_2)">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>

    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li th:class="${one}"><a href="/" class="sf-house">Home</a></li>
                    <li th:class="${two}"><a href="dashboard-sales.html" class=" sf-globe">桥梁管理</a></li>
                    <li class="cm-submenu"
                        th:classappend="${three_1=='active' or three_2=='active' or three_3=='active' or three_4=='active' or three_5=='active' or three_6=='active' or three_7=='active'}? pre-open : ''">
                        <a class="sf-dashboard-alt">桥梁监测管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${three_1}"><a href="bridge">桥梁信息</a></li>
                            <li th:class="${three_2}"><a href="section">截面信息</a></li>
                            <li th:class="${three_3}"><a href="watch-point">监测点信息</a></li>
                            <li th:class="${three_4}"><a href="watch-box">控制箱信息</a></li>
                            <li th:class="${three_5}"><a href="sensor.html">传感器信息</a></li>
                            <li th:class="${three_6}"><a href="layouts-tabs.html">数据查询</a></li>
                            <li th:class="${three_7}"><a href="layouts-tabs.html">数据导入</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a class="sf-profile-group">用户管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${four_1}"><a href="ico-sf.html">用户管理</a></li>
                            <li th:class="${four_2}"><a href="ico-md.html">角色管理</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a class="sf-file-text">日志管理<span class="caret"></span></a>
                        <ul>
                            <li th:class="${five_1}"><a href="ico-sf.html">阈值警告日志</a></li>
                            <li th:class="${five_2}"><a href="ico-md.html">系统操作日志</a></li>
                            <li th:class="${five_3}"><a href="ico-fa.html">桥梁修改日志</a></li>
                        </ul>
                    </li>
                    <li th:class="${six_1}"><a href="notepad.html" class="sf-cogs">系统管理</a></li>
                    <li th:class="${six_2}"><a th:href="@{/logout}" class="sf-lock-open">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

