<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="profile" class="dropdown pull-right">
    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
    <ul class="dropdown-menu">
        <li class="disabled text-center">
            <a id="username" style="cursor:default;" th:text="${CurrentUser.userName}"><strong></strong></a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/logout"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
        </li>
    </ul>
</div>
</body>
</html>
