<div class="dropdown pull-right">
    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
    <ul class="dropdown-menu">
        <li class="disabled text-center">
            <a style="cursor:default;" th:text="${CurrentUser.userName}"><strong></strong></a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a>
        </li>
        <li>
            <a href="logout"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
        </li>
    </ul>
</div>